@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F3F4F6;
    font-family: "Roboto", sans-serif;
}

.header {
    color: #4CAF50;
}

input {
    border: 2px solid #C5C9CD;
    border-radius: 5px;
    padding-left: 10px;
}



/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}