@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.btn {
  background-color: #6d97fd;
}

.header {
  color: #4caf50;
}

input {
  border: 2px solid #000000;
}
select {
  border: 2px solid #000000;
}

.heading {
  color: #ee843e;
}
.button {
  background-color: #6d97fd;
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
