body {
    background-color: black;
}

.header {
    color: #4CAF50;
    font-weight: 700;
}

input {
    border: 1px solid black;
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
